
@model BookApp.Pages.CartModel



<h2>My Cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>

        </tr>

    </thead>

        <tbody>
            @foreach(var i in Model.Basket.Items)
            {
                <tr>
                    <td>@i.Book</td>
                    <td>@i.Quantity</td>
                    <td>25</td>
                    <td>@(i.Quantity * 25)</td>
                </tr>
            }
        </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Basket.CalculateTotal()</td>
        </tr>
    </tfoot>


</table>
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>